<!-- your html code here -->
<div class="container bg-white p-3">
    <div class="row">
        <div class="col-sm-12 col-md-10 align-content-center">
            <div class="row">
                <div class="d-flex flex-wrap gap-1">
                    <h2>What Is the Force?</h2>
                    <h2 class="text-secondary">Use the Force</h2>
                </div>
            </div>
            <div class="row">
                <p>The Force is an energy field created by all living things. It surrounds us, penetrates us, and binds
                    the galaxy together. Some call it myth—others, destiny. Here, we seek to understand its balance
                    between light and shadow.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 d-flex justify-content-center align-items-center">
            <img src="https://media.revistagq.com/photos/62a0a996223a33e985e4d59a/1:1/w_900,h_900,c_limit/1072434_110615-cc-Darth-Vader-Thumb.jpg"
                class="w-100 rounded-circle">
        </div>
    </div>
    
</div>