<!-- your html code here -->
<div class="container bg-white">
    <h2>Portfolio</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid, nesciunt ullam soluta
        molestias delectus, quaerat cum, maxime id ab pariatur deleniti at nobis totam architecto explicabo sed!
        Officiis, dolorum.</p>
    <div class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4 mx-auto p-3">
            <div class="card border-0">
                <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Elemento 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum at quaerat
                        voluptates.</p>
                </div>
            </div>
        </div>
        <div class="col col-sm-12 col-md-6 col-lg-4 mx-auto p-3">
            <div class="card border-0">
                <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Elemento 2</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum at quaerat
                        voluptates.</p>
                </div>
            </div>
        </div>

        <div class="col col-sm-12 col-md-6 col-lg-4 mx-auto p-3">
            <div class="card border-0">
                <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Elemento 3</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum at quaerat
                        voluptates.</p>
                </div>
            </div>
        </div>
    </div>
</div>