<!-- your html code here -->
<div class="container bg-white">
    <h2>Holocron Archive</h2>
    <p>A collection of ancient records, lightsaber designs, and star maps—preserved through the ages. Each holocron
        tells a story of triumph, sacrifice, and the endless struggle between light and dark.</p>
    <div class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4 mx-auto p-3">
            <div class="card border-0">
                <img src="https://images.unsplash.com/photo-1657582650038-d690995a294a?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-secondary">The Jedi Path</h5>
                    <p class="card-text">Teachings of peace, knowledge, and serenity.</p>
                </div>
            </div>
        </div>
        <div class="col col-sm-12 col-md-6 col-lg-4 mx-auto p-3">
            <div class="card border-0">
                <img src="https://images.unsplash.com/photo-1621611141464-a06af0c5c623?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-secondary">Book of Sith</h5>
                    <p class="card-text">Power through passion, strength through conflict</p>
                </div>
            </div>
        </div>

        <div class="col col-sm-12 col-md-6 col-lg-4 mx-auto p-3">
            <div class="card border-0">
                <img src="https://images.unsplash.com/photo-1683511252540-0a61005d0f00?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-secondary">The Outer Rim Maps</h5>
                    <p class="card-text">Uncharted worlds awaiting discovery.</p>
                </div>
            </div>
        </div>
    </div>
</div>