<div class="container bg-white p-3">
    <div class="row">
        <div class="col-sm-12 col-md-2 d-flex justify-content-center align-items-center">
            <img src="https://media.revistavanityfair.es/photos/60e839c576b409bfd6cb7d8a/1:1/w_1547,h_1547,c_limit/177757.jpg"
                class="w-100 rounded-circle">
        </div>
        <div class="col-sm-12 col-md-10 align-content-center">
            <div class="row">
                <div class="d-flex flex-wrap gap-1">
                    <h2>Your Path</h2>
                    <h2 class="text-secondary">Your Destiny</h2>
                </div>
            </div>
            <div class="row">
                <p>Every Jedi and every Sith began with a choice.
                    Whether your journey leads to wisdom or power, courage or compassion, your mission defines who you
                    are in the galaxy. Choose wisely, young Padawan.</p>
            </div>
        </div>
    </div>
</div>